<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/peso_to_dollar_converter.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.png')}}" type="image/x-icon">
    <title>DolarBlueHoy</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="{{url_for('static', filename='img/icon.png')}}" alt="logo">
                <h2>DolarBlueHoy</h2>
            </div>
            <nav>
                <a href="/">Inicio</a>
                <a href="dollar_to_peso_converter.html">Convertidor dolar a peso</a>
                <a href="peso_to_dollar_converter.html">Convertidor peso a dolar</a>
            </nav>
        </div>
    </header>
    <section>
        <div class="container">
            <form method="post">
                <input type="text" placeholder="PESOS" name="peso" value="{{peso}}">
                <button id="button" >Convertir</button>
                <input type="text" placeholder="DOLARES" name="dollar" value="{{result}}">
            </form>
        </div>
    </section>
</body>
</html>